body {
margin:auto;
color: #ffffff;
background-image: url(../img/white-background.jpg);
font-family:'PT Sans Narrow', sans-serif;
font-size:14px;
line-height:24px;
font-weight:700;
}
main {
  color:black;
}
main, header .container,footer .container {
  margin:0 auto;
}
a {
  text-decoration: none;
}
.container {
width:940px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.button {
  box-sizing: border-box;
  display:inline-block;
  width:140px;
  min-height:42px;
  background-color:black;
  font-family:'PT Sans Narrow', sans-serif;
  font-size:14px;
  line-height:24px;
  color:white;
  padding:10px 25px;
  text-align: center;
  text-transform: uppercase;
}
.button:hover {
  background-color: #663d15;
}
.second-header {
width:100%;
min-height:70px;
margin-bottom:55px;
background-color:black;
}
.main-menu {
  display: inline-block;
  float:left;
  padding:0;
  margin:0;
  list-style-type: none;
}

.main-menu  li {
display:inline-block;
float: left;
vertical-align: top;
padding:0;
margin:0;
}

.login-menu {
display: inline-block;
vertical-align: top;
float: right;
padding:0;
margin:0;
margin-right: 0;
width:100px;
height:70px;
position: relative;
}
div.login-icon{
  display:inline-block;
  width:18px;
  height:16px;
  position:absolute;
  background-image: url(../img/icon-login.svg);
  background-repeat:no-repeat;
  top:40%;
  left: 10%;
}

.main-menu a, .login-menu a {
  display:inline-block;
  width:100px;
color: #ffffff;
font-family:'PT Sans Narrow', sans-serif;
font-size:16px;
line-height:20px;
text-transform: uppercase;
padding-top:25px;
padding-bottom:25px;
text-decoration: none;
text-align: center;
}
.login-menu a {
  width: 100%;
  padding-left:  20px;
}
.main-menu span {
  display:inline-block;
  min-height:24px;
color: #ffffff;
font-family:'PT Sans Narrow', sans-serif;
font-size:16px;
line-height:20px;
text-transform: uppercase;
padding:25px 20px;
text-align: center;
}
.main-menu .active {
  position:relative;
  padding-bottom:0px;
  max-height: 70px;
}
.main-menu .active::after {
content: " ";
position: absolute;
right:20px;
left:20px;
height:5px;
bottom:0;
background-color: #fff;
}
.main-menu li:first-of-type a {
  width:110px;
  padding:0;
  padding-top:20px;
  padding-bottom:20px;
  padding-right: 15px;
  margin-left: 0;
}
.main-menu li:first-of-type a:hover {
  background-color:black;
}
.main-menu li:nth-child(2) {
  margin:0;
  padding:0;
}
.main-menu li:nth-child(2) a {
  padding-left:15px;
  padding-right: 15px;
}
.main-menu a img {
  padding:0;
  margin:0;
}
.main-menu a:hover, .login-menu a:hover {
  background-color: #242424;
}

.login-menu a:hover .login-icon {
  opacity:0.3;
}
.main-menu li:first-child a {
float:left;
margin-right: 15px;
}
.main-menu li:first-child {
  display: inline-block;
}
.main-menu li:nth-of-type(4) {
  position:relative;
}
.main-menu span {
  display:inline-block;
  min-height:24px;
color: #ffffff;
font-family:'PT Sans Narrow', sans-serif;
font-size:16px;
line-height:20px;
text-transform: uppercase;
padding:25px 20px;
text-align: center;
}
.breadcrumbs {
  font-size:14px;
}
.breadcrumbs a,.breadcrumbs span {
  display: inline-block;
  position: relative;
  text-decoration:none;
  color:black;
}
.breadcrumbs span.selected {
  color: #aba9a7;
  padding-left:25px;
}
.breadcrumbs span.selected::before {
  content: " ";
  display: inline-block;
  width:8px;
  height:8px;
  background-color:black;
  transform: rotate(45deg);
  position: absolute;
  left:8px;;
  top:8px;
}
.way-to-page {
margin-bottom:60px;
}
div.title {
text-align: center;
  margin-bottom:75px;
}
div.title h2 {
  display: inline;
  font-family:'PT Sans Narrow', sans-serif;
  font-size:48px;
  line-height:62px;
  text-transform: uppercase;
  padding:0 25px;
  position: relative;
  z-index:10;
  background-image: url(../img/white-background.jpg);
}
div.title::after {
content: " ";
display:block;
top:-25px;
border-bottom: 2px solid black;
position:relative;
z-index:1;
}

span.caption {
  font-family:'PT Sans Narrow', sans-serif;
  font-size:30px;
  line-height:40px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-bottom:25px;
}
span.title {
  font-family:'PT Sans Narrow', sans-serif;
  font-size:24px;
  line-height:28px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-bottom:30px;
}
.idk-block .title {
  margin-bottom:45px;
}
.info-about-us {
  float:left;
  width:400px;
  min-height:425px;
  margin-right:80px;
}
.info-about-us a {
  text-decoration: none;
  color:black;
}
.info-about-us ul {
  padding:0;
  margin:0;
  list-style-image:url(../img/ul-shape.svg);
  margin-left:20px;
  margin-bottom:70px;
}
.info-about-us ul>li {
  margin-bottom:15px;
}
.info-about-us h2, .idk-block h2 {
  margin-bottom:40px;
}

.idk-block {
  float:left;
  width:460px;
  min-height:425px;
}
.idk-block p, .info-about-us p {
  width:100%;
}
.price-list {
  width:100%;
  min-height:125px;
  border:2px solid #000101;
  box-sizing: border-box;
  border-collapse: collapse;
  margin-bottom:140px;
}
.price-list td {
  width:50%;
  padding:12px;
    border:2px solid #000101;
    padding-left:18px;
}
.price-list td:last-of-type {
  text-align: center;
}
footer {
  padding-top:40px;
  margin-top:65px;
  background-color:#232323;
  min-height:150px;
  box-shadow:0 150px 25px -140px black inset;
}
.footer-info {
  width:310px;
  float:left;
  margin-right: 90px;
}
.footer-info a {
  text-decoration: underline;
  color:white;
}
.friendship {
  width:200px;
  float:left;
}
.friendship span, .copyright span {
  display: inline-block;
  vertical-align: top;
  margin-bottom:15px;
  padding:0 15px;
}
.friendship a {
  display: inline-block;
  vertical-align: top;
  width:40px;
  height:40px;
  text-align: center;
  margin-right:5px;
  font-size:0px;
  background-image: url(../sprite/index.svg);
  background-repeat:no-repeat;
}
.friendship a.vk {
  background-position:24% 50%;
}
.friendship a.fb {
  background-position:52% 50%;
}
.friendship a.inst {
  background-position:79% 40%;
}
.friendship a:last-of-type {
  margin-right:0;
}
.copyright {
  float:right;
  width:140px;
}
.copyright a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color:white;
  text-transform: uppercase;
}
div.login-form {
  box-sizing: border-box;
  padding-top:50px;
  width:460px;
  height:385px;
  text-align: center;
  background-image: url(../img/white-background.jpg);
  position: fixed;
  top:120px;
  left:50%;
  margin-left:-230px;
  display: none;
  z-index: 100;
  box-shadow: 0 0 5px 0 black ;
}
div.login-form-open {
 display: block;
}
div.login-form .close-button::after {
  content: " ";
  width:19px;
  height:4px;
  background-color:black;
  transform:rotate(45deg);
  position:absolute;
  right:2px;
  top:9px;
}
div.login-form .close-button::before {
  content: " ";
  width:19px;
  height:4px;
  background-color:black;
  transform:rotate(-45deg);
  position:absolute;
  left:1px;
  top:9px;
}
div.login-form .close-button {
  display:block;
  position:absolute;
  width:22px;
  height:22px;
  right: -33px;
  top:9px;
  background-color:transparent;
}
div.login-form a {
  margin-right:2px;
  color:black;
}
div.login-form span, div.login-form label {
  font-family:'PT Sans Narrow', sans-serif;
  font-size:14px;
  line-height:22px;
  text-transform: uppercase;
  color:black;
}
div.login-form span.caption {
  font-family:'PT Sans Narrow', sans-serif;
  font-size:30px;
  line-height:40px;
  text-transform: uppercase;
  display:block;
  vertical-align: top;
  color:black;
  margin-bottom:15px;
}
div.login-form input[type="text"] {
  box-sizing: border-box;
  width:300px;
  height:43px;
  margin-bottom:10px;
  padding:10px;
  padding-left:20px;
  padding-right:45px;
  position: relative;
    border:2px solid black;
}
div.login-form input[type="submit"] {
  width:65.5%;
  border:0px solid black;
}
div.login-form input:focus {
  outline:none;
  border-color: #663d15;
}
input.user-icon {
  background-image: url(../img/user-icon.svg);
  background-repeat:no-repeat;
  background-position: 95% 50%;
}
input.pwd-icon {
  background-image: url(../img/locked-icon.svg);
  background-repeat:no-repeat;
  background-position: 95% 50%;
}
div.login-form input[type="checkbox"] {
  display:none;
}
div.login-form label {
  display:inline-block;
  margin-bottom:15px;
  padding-left:35px;
  position: relative;
  margin-right:74px;
  margin-left:-1px;
}
div.login-form label:hover {
  color:#663d15;
}
.fake-check {
  display:inline-block;
  box-sizing: border-box;
  width:20px;
  height:20px;
  position:absolute;
  border:2px solid black;
  margin-left:3px;
  left:0;
  top:0;
}

label:hover > .fake-check {
  border:2px solid #663d15;
}
div.login-form input:checked + label::before {
  content: " ";
  width:13px;
  height:2px;
  background-color:black;
  transform:rotate(45deg);
  position:absolute;
  left:6.5px;
  top:9px;
}
div.login-form input:checked + label:hover::before {
  content: " ";
  width:13px;
  height:2px;
  background-color:#663d15;
  transform:rotate(45deg);
  position:absolute;
  left:6.5px;
  top:9px;
}
div.login-form input:checked + label::after {
  content: " ";
  width:13px;
  height:2px;
  background-color:black;
  transform:rotate(-45deg);
  position:absolute;
  left:6.5px;
  top:9px;
}
div.login-form input:checked + label:hover::after {
  content: " ";
  width:13px;
  height:2px;
  background-color:#663d15;
  transform:rotate(-45deg);
  position:absolute;
  left:6.5px;
  top:9px;
}
.overlay {
  position:absolute;
  width:100%;
    height:195%;
  background-color: rgba(102, 61, 21, 0.5);
  z-index:10;
  top:0;
  display:none;
}
.overlay-open {
  display:block;
}
